body{width:100%}
#fond{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  ;background-color: yellow;}
img{max-width:100%;height:auto}
hr {height: 4px; color: #839D2D; background-color: #839D2D; width: 50%; border: none}
#fond>div{margin: 0 auto;width: 600px;padding:30px}
#fond>a{color:#0085ca;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;display:block;width: 100px;margin:0 auto;font-size: xx-large;}

    /* Css bandeau  contact*/
header{display:flex;justify-content: space-between;height:100px;background-color: pink;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.item1{width: 100px;background-image: url(./img/Photo\ 08-11-2021\ 11\ 19\ 49\ \(1\).jpg);background-size: 100px 100px;}
.item2{display:flex;align-items: center;}
.it2b{width:200;text-align: center;margin-left: 50px;}
.item3{display:flex;justify-content: flex-end;text-align: center;}
.it3b img{height:40px;width:auto;padding:30px}

/* css main ocean frais et video*/

.container1{display:flex;justify-content: flex-start;}
.box{flex:1}
.box1{flex:2}

.container2{display: flex;justify-content: space-between;font-size: x-large;text-align: center;}
.box2{flex:1;padding: top 300px;}
.video{flex:2}

/* footer/